<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!--
  <offline/>
  -->

  <!--
  <proxies>
    <proxy>
      <active>false</active>
      <protocol>http</protocol>
      <host>webgate.de.emea.csc.com</host>
      <port>8080</port>
    </proxy>
  </proxies>
  -->
  <!--
  <activeProfiles>
    <activeProfile>github</activeProfile>
  </activeProfiles>
  -->

  <pluginGroups>
    <pluginGroup>de.gluehloch.plugins</pluginGroup>
  </pluginGroups>
  <profiles>
    <profile>
      <id>default</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
    </profile>
    <profile>
       <id>github</id>
       <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
       <repositories>
         <repository>
           <id>central</id>
           <url>https://repo1.maven.org/maven2</url>
           <releases><enabled>true</enabled></releases>
           <snapshots><enabled>true</enabled></snapshots>
         </repository>
       </repositories>
     </profile>
     <profile>
      <id>mavenGluehlochDe</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>repositoryMavenGluehlochDe</id>
          <url>https://maven.gluehloch.de/repository</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <checksumPolicy>fail</checksumPolicy>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <checksumPolicy>fail</checksumPolicy>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <!-- Beschreibt die Server fuer das Deployment. -->
  <servers>
    ...
  </servers>

</settings>
